<?xml version="1.0"?>
<configuration>


  <appSettings>

    <add key="AppMode" value="2"/>
    <!--1-Sql Server and 2-Access DB-->
    <add key="AppInitial" value="ErpDb"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPurelifeErp" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5482/PurelifeErp.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPurelifeErp" contract="PurelifeErpClient.IPurelifeErp"
        name="BasicHttpBinding_IPurelifeErp" />
    </client>
  </system.serviceModel>
</configuration>
